@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.18), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

.leaflet-popup-content {
  margin: 0 !important;
  line-height: 1.4;
}

.leaflet-popup-tip {
  background: white;
}
